<nav class="navbar navbar-default" style="background: rgb(236, 236, 236)">
	<div class="container-fluid">
		<div class="navbar-header">
			<a routerLink="/" class="navbar-brand">Recipe Book</a>
		</div>

		<div class="navbar navbar-default">

			<ul class="nav">
				<li routerLinkActive="active"><a routerLink="/recipes" style="padding-right: 1rem">Recipes</a></li>
				<li routerLinkActive="active"><a routerLink="/shopping-list" style="padding-right: 1rem">Shopping List</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="signup">Register</a></li>
				<li><a routerLink="signin">Sign In</a></li>
				<li class="dropdown" appDropdown>
					<a style="cursor: pointer" class="dropdown-toggle" role="button"><span class="caret"></span>Manage</a>
					<ul class="dropdown-menu">
						<li><a style="cursor: pointer" (click)="onSaveData()">Save Data</a></li>
						<li><a style="cursor: pointer" (click)="onGetData()">Fetch Data</a></li>
					</ul>
				</li>
			</ul>

		</div>
	</div>
</nav>