/* You can add global styles to this file, and also import other style files */

.btn-group.open .dropdown-menu, .dropdown.open .dropdown-menu {
  display: initial;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.active a{
  color: red;
}

.col-xs-12 {
  width: 100%;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}